# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Uploads
uploads/

# Testing
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
